/* CSS Document */


#lightbox {
	padding:0;
	text-align:left;	
	width:1000px;	
}
#lightbox [id] {
  overflow:hidden;
  position:absolute;
  width:0;
  height:0;
  left:0;
  top:0;
  opacity:0;
  background:rgba(0,0,0,.5);
}
#lightbox[id]:before {
  content:url("../images/ic-close.png");
  position:absolute;
  top:-33px;
  right:-33px;
  opacity:0;
}
#lightbox [id]:hover:before {
	opacity:1;
}
#lightbox [id]:target {
  width:100%;
  height:100%;
  opacity:1;
}
div[id]:target div.lightbox {
	background-color: #FFF;
  	position:absolute;
  	top:25%;
  	left:50%;
	width:1000px;
	height:700px;
  	margin:-175px 0 0 -500px;
  	/*border:12px solid #fff;*/
	text-decoration:none;
  	-webkit-animation:zoom 1.5s cubic-bezier(0,0,0,1);
	-moz-animation:zoom 1.5s cubic-bezier(0,0,0,1);  	
	-moz-box-shadow:0 0 74px 5px rgba(0, 0, 0, .8);
	-webkit-box-shadow:0 0 74px 5px rgba(0, 0, 0, .8);
	box-shadow:0 0 74px 5px rgba(0, 0, 0, .8);  
	
	-webkit-border-radius:4px;	
	-moz-border-radius:4px;	
	border-radius:4px;
}
div[id]:target a img {
	border:0;
}
div[id]:target a span {
	font-size: 125%;
	width:187px;
	display:block;
	padding:10px 0 0 0;
	color:#303030;
}
a {
	outline: none;
}

@-webkit-keyframes zoom {
  0% { -webkit-transform:scale(0); }
  100% { -webkit-transform:scale(1); }
}
@-moz-keyframes zoom {
  0% { -moz-transform:scale(0); }
  100% { -moz-transform:scale(1); }
}

@media screen and (max-height: 850px) {
	li[id]:target a  {		
		margin:-200px 0 0 -118px;	
	}
}
#cover1 .zoom1


