<!doctype html>

#parse ($init)

<html dir="#language ("lang.dir")" xmlns="http://www.w3.org/1999/xhtml">

<head>
	#css ($css_main_file)

	<title>$the_title - arago Rike 4.1</title>

	$theme.include($top_head_include)

#js ($js_main_file)


	<script type="text/javascript">
		// <![CDATA
			$page_javascript_1
			$page_javascript_2
			$page_javascript_3
		// ]]>
	</script>

</head>

<body class="$css_class">

$theme.include($top_messages_include)

<a name="scrolltop"></a> 
<div id="container"> 

  	<div class="clear"></div> 
	
	<div id="logo"></div>

	#if ($has_navigation)
		#parse ("$full_templates_path/navigation.vm")
	#end


  <div id="content">
	#if ($selectable)
		$theme.include($content_include)
	#else
		$portletDisplay.recycle()

		$portletDisplay.setTitle($the_title)

		$theme.wrapPortlet("portlet.vm", $content_include)
	#end

  </div>
  <div id="footer">
    #dockbar()
  </div>
</div>

$theme.include($bottom_ext_include)
</body>

</html>
