/* rike-help overlay */

.markdown-body {
	margin-top:1em;
	}
	
/* sidebar */
.content {
	padding:0.5em 0;
	float:right;
	width:80%
	}
.sidebar {
	line-height:2em;
	padding:0.5em 0;
	float:left; 
	width:20%;
	 }
.sidebar ul {
	}
